# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env

# vscode
.vscode
src/assets/laptop.jpg
public/greek.glb
public/geo.min.glb
src/components/canvas/Thanos.jsx
src/assets/white-waves.jpg
public/thanos/textures/M_Lrg_Jim_Helmet_specularGlossiness.png
public/thanos/textures/M_Lrg_Jim_Helmet_normal.png
public/thanos/textures/M_Lrg_Jim_Helmet_diffuse.jpeg
public/thanos/textures/M_Lrg_Jim_Head_2_normal.png
public/thanos/textures/M_Lrg_Jim_Head_1_specularGlossiness.png
public/thanos/textures/M_Lrg_Jim_Head_0_specularGlossiness.png
public/thanos/textures/M_Lrg_Jim_Head_0_diffuse.jpeg
public/thanos/textures/M_LRG_JIM_Gauntlet_specularGlossiness.png
public/thanos/textures/M_LRG_JIM_Gauntlet_normal.png
public/thanos/textures/M_LRG_JIM_Gauntlet_emissive.jpeg
public/thanos/textures/M_LRG_JIM_Gauntlet_diffuse.jpeg
public/thanos/textures/M_Lrg_Jim_Body_specularGlossiness.png
public/thanos/textures/M_Lrg_Jim_Body_normal.png
public/thanos/textures/M_Lrg_Jim_Body_diffuse.jpeg
public/thanos/textures/EyeBall_specularGlossiness.png
public/thanos/scene.gltf
public/thanos/scene.bin
public/exterior_architecture/textures/sol-environ_diffuse.png
public/exterior_architecture/textures/rooftop_diffuse.png
public/exterior_architecture/textures/mur-brique_diffuse.png
public/exterior_architecture/textures/facade-bois_diffuse.png
public/exterior_architecture/scene.gltf
public/exterior_architecture/scene.bin
public/exterior_architecture/license.txt
public/arch/seamless-wood-planks-5.jpg
public/logo3.svg
public/favicon.svg
public/favicon.png
public/favicon.png
